---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import FeatureSection from "../sections/FeatureSection.astro";
import HeroSection from "../sections/HeroSection.astro";
import MenuModal from "../components/modals/MenuModal.astro";
import FinalSection from "../sections/FinalSection.astro";
---

<Layout pageTitle="Alchemizer AI">
  <Navbar
    title="Alchemizer AI"
    links={[
      {
        href: "/",
        mouseEventId: "home",
        text: "Home",
      },
      {
        href: "/studio/",
        mouseEventId: "studio",
        text: "Studio",
      },
      {
        href: "/about/",
        mouseEventId: "about",
        text: "About",
      },
      {
        href: "/contact/",
        mouseEventId: "contact",
        text: "Contact",
      },
    ]}
  />
  <HeroSection
    title="Alchemizer AI"
    description="Transform your music to next level with Alchemizer AI! Get vocals and instruments from any music. Convert your piano notes to guitar notes. And much more!"
    image="https://cdn-site-assets.veed.io/cdn-cgi/image/width=768,quality=75,format=auto/Video_Editor_10560b9827/Video_Editor_10560b9827.png"
  />
  <FeatureSection
    titleOne="Transform Your Music Creation to"
    titleTwo="Next Level"
  />
  <div class="test" style="margin-top: 200px;"></div>
  <FinalSection
    titleOne="Transform"
    titleTwo="Your Music Creation"
    image="https://cdn-site-assets.veed.io/cdn-cgi/image/width=768,quality=75,format=auto/Video_Editor_10560b9827/Video_Editor_10560b9827.png"
  />
  <MenuModal />
</Layout>
