---
import ButtonPrimary from "../components/buttons/ButtonPrimary.astro";

const { titleOne, titleTwo } = Astro.props;
---

<div class="final-main" style="background-color: #18191b;">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-md-6">
        <h1 class="final-title">
          <span>{titleOne}</span>{" " + titleTwo}
        </h1>
        <br />
        <ButtonPrimary
          data-bs-toggle="modal"
          data-bs-target="#fullScreenModal"
          style="color: #000000; background-color: white;"
          text="Try Alchemizer"
          textClass="final-button-text"
          icon="navigate_next"
          iconClass="final-button-icon"
          buttonClass="final-button"
          id="btn-primary-final"
        />
      </div>
      <div class="col-md-6">
        <img
          src="https://cdn-site-assets.veed.io/cdn-cgi/image/width=768,quality=75,format=auto/Video_Editor_10560b9827/Video_Editor_10560b9827.png"
          alt="Video Editor"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</div>
