---
const { title, description, image, alt } = Astro.props;
---

<div class="col-md-4">
  <div class="card">
    <img src={image} class="card-img-top" alt={alt} />
    <div class="card-body">
      <h5 class="card-title">{title}</h5>
      <p class="card-text">
        {description}
      </p>
    </div>
  </div>
</div>
