@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Khojki&display=swap");

body {
  font-family: Arial, sans-serif;
  background-color: #f6f3f3;
}

::-webkit-scrollbar {
  display: none;
}

.container {
  margin-top: 50px;
}

h1 {
  font-weight: bold;
}

/* hero section */
.hero-main {
  margin: 15px;
  padding-top: 20px;
  padding-bottom: 40px;
  border-radius: 12px;
  background-color: #ffffff;
}

.hero-title {
  background: #8500ff;
  background: linear-gradient(to right, #8500ff 0%, #de00ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4rem;
}

.hero-main p {
  font-family: "Noto Sans Khojki", sans-serif;
  color: #404040;
}

/* hero button OLD */
.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

/* hero button NEW */
.hero-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #8500ff;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  width: 15rem;
}

.hero-button:hover .hero-button-icon {
  transform: scale(0.9);
  transition: transform 0.3s ease-in-out;
}

.hero-button:hover {
  background-color: #de00ff;
  cursor: pointer;
}

.hero-button-text {
  font-size: 16px;
}

.hero-button-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.hero-button-icon span {
  color: #8500ff;
}

.hero-button .material-icons {
  color: #8500ff;
  font-size: 24px;
}

/* Fetures section */

.feature-section {
  margin: 15px;
  padding-top: 20px;
  padding-bottom: 40px;
  border-radius: 12px;
  background-color: #ffffff;
}

.feature-section-title {
  font-family: "Noto Sans Khojki", sans-serif;
  color: #404040;
}

.feature-section-title span {
  background: #8500ff;
  background: linear-gradient(to right, #8500ff 0%, #de00ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.feature-section .card {
  margin-bottom: 20px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
}

.feature-section .card-img-top {
  width: 100%;
  padding: 20px;
  height: auto;
}

.feature-section .card-title {
  font-weight: bold;
}
